<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Dojos</title>
</head>
<body>
    <div class="container d-flex justify-content-around">
        <div class="w-25">
            <form action="/add_dojo" method="post">
                <h1 class="bg-info p-2 text-center">New Dojo</h1>
                <label for="name" class="form-label fs-5 fw-bold">Name: </label>
                <input type="text" name="name" class="form-control">
                <input type="submit" class="btn btn-warning mt-2" value="Create">
            </form>
        </div>
        <div class="w-25">
            <h1 class="bg-info p-2 text-center">All Dojos</h1>
            <div class="border border-dark text-center" style="height: 15em; overflow: auto;">
                {% for dojo in dojos %}
                <ul class="list-group">
                    <li>
                        <a href="/dojos/{{dojo.id}}" class="link-success fs-4">{{dojo.name}}</a>
                    </li>
                </ul>
                {% endfor %}
            </div>
            <a href="/ninjas" class="btn btn-warning mt-2">Add Ninja</a>
        </div>
    </div>
</body>
</html>