<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>New Ninja</title>
</head>
<body>
    <div class="container col-4">
        <h1 class="bg-info p-2 text-center">New Ninja</h1>
        <form action="/add_ninja" method="post">
            <div class="form-group">
                <label for="dojo_id">Dojo: </label>
                <select class="form-select" name="dojo_id" id="dojo">
                    {% for dojo in dojos %}
                    <option value={{dojo.id}}>{{dojo.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="fname">First Name: </label>
                <input type="text" name="fname" id="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">Last Name: </label>
                <input type="text" name="lname" id="lname" class="form-control">
            </div>
            <div class="form-group">
                <label for="age">Age: </label>
                <input type="text" name="age" id="age" class="form-control">
            </div>
            <div class="mt-2 d-flex justify-content-between">
                <input type="submit" value="Create" class="btn btn-warning">
                <a href="/dojos" class="btn btn-info">Home</a>
            </div>
        </form>
    </div>
</body>
</html>